<!DOCTYPE html>
{% load static %}
<html lang="en" dir="itr">
<head>
   <meta charset="utf=8">
   <title></title>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
 .jumbotron{
     background: blue;
    }
     p{
     padding-top: 5%;
     padding-left: 20%;
     padding-right: 20%;
</style>
</head>
<body>
<h1 style="text-align:center">AgriTech Telugu</h1><br>
<nav class="navbar navbar-expand-lg navbar-light bg-warning">
<div class="navbar-header">
<nav class="navbar navbar-default navbar-fixed-top">
<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
</div>
<div class="collapse navbar-collapse" id="navbarNav">
<ul class="nav navbar-nav">
<div class="navbar-nav">
<a class="nav-item nav-link" href="/home"><span>Home</span></a>
<a class="nav-item nav-link" href="/about"><span>About</span></a>
<a class="nav-item nav-link" href="/experts"><span>Expects Advice</span></a>
<a class="nav-item nav-link" href="/interview"><span>Interviews</span></a>
<a class="nav-item nav-link " href="/natural"><span>Natural Farming</span></a>
<a class="nav-item nav-link" href="/live"><span>Live Farming</span></a>
</div>
</ul>
</div>
<ul class="nav navbar-nav navbar-right">
<li> <a href="/feedback">Contact Us</a></li> 
</ul>
</div>
</nav>
<div class='contanier'>
<div class="jumbotron">
<p>ముందుగా అందరికీ నమస్కారం. కొన్ని వేల సంవత్సరాలుగా వ్యవసాయం జరుగుతున్నప్పటికీ మారుతున్న పరిస్థితులకు అనువుగా వ్యవసాయ విధానాలు మారడం లేదు. అందువల్ల వ్యవసాయ ఉత్పాదకత పెరుగుదల ఆగిపోతుంది. దీని వల్ల రైతు నష్టపోతున్నాడు. ప్రతి మనిషికి అవసరమైన ఆహారాన్ని పండిస్తున్న  రైతు వెనుకబడిపోతుంటే కొద్దిమందికి మాత్రమే అవసరం వుండే వస్తువులు ఉత్పత్తి చేసే వ్యాపార వెత్తలు మాత్రం ముందుకు పోతున్నారు. అందుకే వ్యవసాయం చేసే రైతు సైతం వ్యాపార దృక్పధంతో ముందుకు పోతేనే తన మనుగడ సాధిస్తాడాని న అభిప్రాయం. అదే విధంగా మారుతున్న పరిస్థితులకు అనువుగా సాంకేతిక పరిజ్ఞానాని అందిపుచ్చుకుని యాంత్రీకరణ దిశగా రైతు అడుగులు వేయవలసిన అవసరం ఎంతయినా ఉంది.
 ఇప్పుడిప్పుడే చదువుకున్న యువకులు వ్యవసాయం వైపు వస్తున్నప్పటికీ వ్యవసాయంలో వారికి సరి అయిన అనుభవం లేకపోవడము, వారి పెద్దలు ఇంకా పురాతన విధానాలనే అవలంభించడం, సరి సలహాలు ఇచ్చేవారు లేకపోవడము వంటి పలు కారణాల వల్ల ఎక్కువ మంది యువ రైతులు ఆశించిన స్థాయిలో రణించలేకపోతున్నారు. అందుకే నాకు ఉన్న పరిధిలో నాకు చేతనైనంత లో దుక్కి దున్నిన నాటి నుండి పంటను మార్కెట్ చేసే వరకు అనుభవజ్ఞులైన రైతులు, శాస్త్రవేత్తలు, మొదలైన వారి ద్వారా రైతాంగానికి అవసరమైన సలహాలు సూచనలు ఇవ్వడంతో పాటు రైతుకు అనుబంధ రంగాలు అయిన జీవల పెంపకం వరకు మీ ముందు ఉంచే ప్రయత్నం చేయాలి అనే సదుద్దేశంతో ఈ AgriTech Telugu యూట్యూబ్ ఛానల్ ప్రారంభించడం జరిగింది. వ్యవసాయ సంబంధిత అన్ని అంశాలను ప్రజలకు తెలియజేసే క్రమంలో ఎంతో మంది రైతులను కలుసుకోవడం వారి నుండి, ప్రేక్షకుల నుండి వస్తున్న అభినందనలు నాకు ఎంతో సంతృప్తిని ఇస్తున్నాయి.</p>
</div>
</div>
</body> 
</html>