<!DOCTYPE html>
<html lang="en" dir="itr">
<head>
   <meta charset="utf=8">
   <title></title>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" crossorigin="anonymous">
   <style>
   body{
   background:#D3D3D3;
   }
   p{
       color:green;
   }
   </style>
   </head>
   <body>
   <h1 style="text-align:center">AgriTech Telugu</h1><br>
<nav class="navbar navbar-expand-lg navbar-light bg-warning">
<div class="navbar-header">
<nav class="navbar navbar-default navbar-fixed-top">
<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
</div>
<div class="collapse navbar-collapse" id="navbarNav">
<ul class="nav navbar-nav">
<div class="navbar-nav">
<a class="nav-item nav-link" href="/home"><span>Home</span></a>
<a class="nav-item nav-link" href="/about"><span>About</span></a>
<a class="nav-item nav-link" href="/experts"><span>Expects Advice</span></a>
<a class="nav-item nav-link" href="/interview"><span>Interviews</span></a>
<a class="nav-item nav-link " href="/natural"><span>Natural Farming</span></a>
<a class="nav-item nav-link" href="/live"><span>Live Farming</span></a>
</div>
</ul>
</div>
<ul class="nav navbar-nav navbar-right">
<li> <a href="/feedback">Contact Us</a></li> 
</ul>
</div>
</nav>
   <iframe height="480" width="1500"   src="https://www.youtube.com/embed/watch?v=GTMA4rlYTZM&list=PL9iIIw3ebVk58IW6iEN3H5NBHWhKkRotN"> 
   </iframe>
   <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
   </body>
   </html>